body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #BAD7E9;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.waldoHeaderImg {
  height: 100%;
  cursor: pointer;
}

.headerButtons {

}

.games {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  gap: 15px;
  width: auto;
}

.beachMiniContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.beachMiniContainer > h2 {
  margin: 0;
  width: fit-content;
  padding-left: 2px;
}

.beachMiniImg {
  height: 400px;
  width: 400px;
  border-radius: 15px;
  object-fit: cover;
}

.beachMain {
  display: flex;
  flex-direction: column;
  background-color: #BAD7E9;
  width: 100vw;
}

.beachContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 85vh;
  width: 95vw;
  position: relative;
}

.beachImgContainer {
  position: relative;
  width: 85%;
  height: 80vh;
}

.beachImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 15px;
}

.charactersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 15px;
}

.characterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.waldoImg, .wizardImg {
  padding-right: 3px;
}

.waldoImg, .wizardImg, .odlawImg {
  height: 115px;
}

.characterContainer > h2 {
  margin: 0;
  width: fit-content;
}

.targetBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.waldoBtn, .odlawBtn {
  background-color: blue;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.waldoBtn {
  margin-bottom: -35px;
}

.wizardBtn {
  margin-bottom: -60px;
  background-color: blue;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.odlawBtn {
  margin-bottom: -60px;
}

.hidden {
  display: none;
}

.winScreenContainer {
  
}

.nicknameForm {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .beachContainer {
    flex-direction: column;
  }
  .beachImg {
    width: 100vw;
  }
}