@font-face {
  font-family: Optima;
  src: url('./fonts/OptimaExtraBlack/Optima\ ExtraBlack.ttf');
}

body {
  margin: 0;
}

h2 {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #BAD7E9;
  width: 100vw;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.waldoHeaderImg {
  height: 100%;
}

.games {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  gap: 15px;
  height: 100%;
  overflow: hidden;
}

.gameMiniContainer {
  display: flex;
  flex-direction: column;
}

.gameMiniContainer > h2 {
  margin: 0;
  width: fit-content;
  padding-left: 2px;
}

.gameMiniImg {
  height: 400px;
  width: 400px;
  border-radius: 25px;
  object-fit: cover;
  border: 2px solid #ED2724;
}

.gameTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Optima', 'Courier New', Courier, monospace;
  color: #2B2A2A;
  padding-top: 10px;
}

.gameTextContainer > a {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
  font-size: 1.3rem;
}

.gameTextContainer > a:hover {
  color: #ED2724;
  transition: color 0.3s ease;
}

.beachMain {
  display: flex;
  flex-direction: column;
  background-color: #BAD7E9;
  width: 100vw;
}

.gameContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 85vh;
  width: 95vw;
  position: relative;
}

.gameImgContainer {
  position: relative;
  width: 85%;
  height: 80vh;
}

.gameImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 15px;
}

.charactersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 15px;
}

.characterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.waldoImg, .wizardImg {
  padding-right: 3px;
}

.waldoImg, .wizardImg, .odlawImg {
  height: 115px;
}

.characterContainer > h2 {
  margin: 0;
  width: fit-content;
}

.targetBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.waldoBtn, .odlawBtn {
  background-color: blue;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.waldoBtn {
  margin-bottom: -35px;
}

.wizardBtn {
  margin-bottom: -60px;
  background-color: blue;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.odlawBtn {
  margin-bottom: -60px;
}

.hidden {
  display: none;
}

.winScreenContainer {
  
}

.nicknameForm {
  display: flex;
}

.gameLeaderboard {
  cursor: pointer;
  padding-top: 15px;
}

.gameLeaderboard:hover {
  color: #ED2724;
  transition: color 0.3s ease;
}

.headerBtns {
  display: flex;
  padding-right: 25px;
  gap: 20px;
}

.homeBtn, .leaderboardBtn {
  cursor: pointer;
  background: none;
  border: none;
  font-family: 'Optima', 'Courier New', Courier, monospace;
  font-size: 1.3rem;
}

.homeBtn:hover, .leaderboardBtn:hover {
  color: #ED2724;
  transition: color 0.3s ease;
}

.slide-down {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUpp 2s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

.navBtn {
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% + 4px), 0 calc(100% + 4px));
  display: block;
  padding: 2px 0;
  position: relative;
}

.navBtn:before {
  background: black;
  bottom: -3px;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.navBtn:hover {
  color: #ED2724;
}

.navBtn:hover:before {
  animation: slide 0.5s ease;
  background: #ED2724;
}

@keyframes slide {
  0%, to { transform: translateX(0); }
  50% { transform: translateX(100%); }
  51% { transform: translateX(-100%); }
}


@media screen and (max-width: 1024px) {
  .gameContainer {
    flex-direction: column;
  }
  .gameImg {
    width: 100vw;
  }
}